/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

/* Colors the javascrip created text on the create cards input form */
.bold-text {
    color: #4F2F2F;
    font-weight: bold;
}

/* Centers text on input form */
.center-text {
    text-align: center;
}

/* Increase the size, round the corners, and add some margin to the save button on input page */
.btn-primary {
    font-size: 1.8rem;
    padding: 0.4rem 2rem;
    margin: 1rem;
    border-radius: 0.75rem;
}

/* Makes the button slightly bigger when hovered over, creating a "pop up" effect */
.btn-primary:hover {
    transform: scale(1.1);
}

/* This class is used to set the width of an element to 50% of the total page width */
.form-half {
    width: 50%;
    margin: 0 auto;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

.text-center {
    text-align: center !important;
}

.py-5 {
    padding: 5rem !important;
}

/* Custom CSS for our /play route page */
.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-name {
    font-size: 3rem;
    text-align: center;
}

#card-attributes {
    font-size: 2rem;
    text-align: center;
}