/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
    width: 100%;
}

.PAO-Cards-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.text-primary {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

#next-button:hover {
    background-color: darkblue;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

/* Color and size settings for the javascrip created text on the create cards input form */
.bold-text {
    color: #4F2F2F;
    font-weight: bold;
    font-size: 1.15rem;
}

/* Color and size settings for the javascrip created text on the create cards labels */
.label-bold {
    color: #626964;
    font-weight: bold;
    font-size: 1.3rem;
}

/* Centers text on input form */
.center-text {
    text-align: center;
}

/* Increase the size, round the corners, and add some margin to the save button on input page */
.btn-primary {
    font-size: 1.8rem;
    padding: 0.4rem 2rem;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.75rem;
}

/* Makes the button slightly bigger when hovered over, creating a "pop up" effect */
.btn-primary:hover {
    transform: scale(1.1);
}

/* This class is used to set the width of an element to 50% of the total page width */
.form-half {
    width: 50%;
    margin: 0 auto;
}


/* Changes alignmet of the saved cards table text */
.text-center {
    text-align: center !important;
}

.text-success {
    text-align: center !important;
    font-size: 3em;
    font-weight: bold;
    padding: .5rem;
}

.text-danger {
    text-align: center !important;
    font-size: 3em;
    font-weight: bold;
    padding: .5rem;
}

.py-5 {
    padding: 5rem !important;
}

/* Custom CSS for our /play route page */

.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 3rem 0;
}

/* Styling for the cards PAO text box */
.card-box {
    padding: 1rem;
    background-color: #83a2eb;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
}

/* Is this not being used???
#card-name {
    font-size: 3rem;
    text-align: center;
}
*/

/* Styling for the cards Person, Action, Object text answers for each card */
#card-attributes {
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

.navbar-brand-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    /* Other styles if you want */
}