{% extends "layout.html" %}

{% block title %}
Create
{% endblock %}

{% block main %}
<h1 class="text-danger">Create Cards</h1>
<form action="/create" method="post">
    <div class="form-group">
        <label for="suit">Select Suit</label>
        <select class="form-control" name="suit" id="suit-select" required>
            <option value="Spades">Spades</option>
            <option value="Hearts">Hearts</option>
            <option value="Diamonds">Diamonds</option>
            <option value="Clubs">Clubs</option>
        </select>
    </div>
    <form id="custom-parameters-form" style="display:none">
        {% for card in cards %}
        <div class="form-group">
            <label for="{{ card }}-person">{{ card }} - Person</label>
            <input type="text" class="form-control" name="{{ card }}-person">
        </div>
        <div class="form-group">
            <label for="{{ card }}-action">{{ card }} - Action</label>
            <input type="text" class="form-control" name="{{ card }}-action">
        </div>
        <div class="form-group">
            <label for="{{ card }}-object">{{ card }} - Object</label>
            <input type="text" class="form-control" name="{{ card }}-object">
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</form>
{% endblock %}



