{% extends "layout.html" %}

{% block title %}
Create
{% endblock %}

{% block main %}
<h1 class="text-danger">Create Cards</h1>
<form action="/create" method="post" style="display:block" id="cards-form">
    {% for card in cards %}
    <div class="form-group">
        <label for="{{ card.user_id }}-person">{{ card.rank }} of {{ card.suit }} -
            Person</label>
        <input placeholder="person" type="text" class="form-control" name="person_{{ card.std_card_id }}" value="{{ request.form.get('person_' ~ card.std_card_id ,'') }}">
    </div>
    <div class="form-group">
        <label for="{{ card.user_id }}-action">{{ card.rank }} of {{ card.suit }} -
            Action</label>
        <input placeholder="Action" type="text" class="form-control" name="action_{{ card.std_card_id }}" value="{{ request.form.get('action_' ~ card.std_card_id ,'') }}">
    </div>
    <div class="form-group">
        <label for="{{ card.user_id }}-object">{{ card.rank }} of {{ card.suit }} -
            Object</label>
        <input placeholder="Object" type="text" class="form-control" name="obj_{{ card.std_card_id }}" value="{{ request.form.get('obj_' ~ card.std_card_id ,'') }}">
    </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Save</button>

</form>
{% endblock %}
<script src="{{ url_for('static', filename='app.js') }}"></script>



