{% extends "layout.html" %}

{% block title %}
Welcome to PAO Cards
{% endblock %}

{% block main %}

<h1 class="text-primary">Welcome to PAO Cards</h1>
<img src="{{ url_for('static', filename='pao.jpg') }}" alt="Exploding PAO Image"  style="max-width: 50%;">
<br>
<br>
<h4>Mastering Memory with the Person-Action-Object System</h4>
<br>
<a href="/create" class="btn btn-primary" role="button">Let's Get Started!</a>
<p>Questions or comments reach me on <a href="https://twitter.com/dannybliss" target="_blank" rel="noopener noreferrer">Twitter.</a></p>
{% endblock %}
