<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>PAO Cards</title>
    <!-- http://getbootstrap.com/docs/5.1/ -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link href="/static/favicon.ico" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PAO Cards</a>
        </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/play/1">Play</a></li>
            <li><a class="nav-link" href="/create">Create</a></li>
            <li><a class="nav-link" href="/savedcards">Saved</a></li>
            <li><a class="nav-link navbar-right whats-pao"
                    href="https://www.youtube.com/watch?v=5M8qSWk97gA"
                    target="_blank">What's PAO?</a>
            </li>
            <li><a class="nav-link navbar-right test-yourself"
                    href="https://memoryleague.com/#!/train-cards"
                    target="_blank">Memory League</a>
            </li>
        </ul>
    </div>
    {% if session["user_id"] %}
    <ul class="nav navbar-nav navbar-right">
           
        <li><a class="nav-link" href="/logout"><span
                    class="glyphicon glyphicon-log-out nav-link"></span> Logout</a>
        </li>
    </ul>
    {% else %}
    <div class="logout-margin">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Register</a>
        </li>
        <li><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
    </ul>
    </div>
    {% endif %}
    </div>
</nav>


    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-info mb-0 text-center" role="alert">
            <h3>
                {{ get_flashed_messages() | join(" ") }}
            </h3>
        </div>
    </header>
    {% endif %}

    <main class="container-fluid py-5 text-center">
        {% block main %}{% endblock %}
    </main>

    <footer class="mb-5 small text-center text-muted sticky-bottom">
        <p>Copyright PAO Cards <span id="year"></span></p>
    </footer>
    <script>
        // Javascript to always update to the current year in the copyright
        const currentYear = new Date().getFullYear();
        // Update the year in the copyright notice
        document.getElementById("year").innerHTML = currentYear;
    </script>
</body>
</html>