{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control form-half mx-auto w-auto"
                id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control form-half mx-auto w-auto" id="password" name="password"
                placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <img src="{{ url_for('static', filename='pao.jpg') }}" alt="Exploding PAO Image"
        style="max-width: 30%;">
        <br>
        <h4>Mastering Memory with the Person-Action-Object System</h4>
        <br>
{% endblock %}