{% extends "layout.html" %}

{% block title %}
Play
{% endblock %}

{% block main %}
<h1 class="text-danger">Test Yourself</h1>
<div id="card-holder">
    <div class="card-display">
        <img id="card-image"
            src="{{ url_for('static', filename='playing-cards/' + card_images[current_card_index]) }}">
        <p id="card-attributes" style="display: none;">
                Person: {{ current_card.person }}<br>
                Action: {{ current_card.action }}<br>
                Object: {{ current_card.obj }}
        </p>
    </div>
    <form method="post">
        <button name="Flip" type="submit" class="btn btn-primary"
            id="flip-button">Flip</button>
        <button name="Next" type="submit" class="btn btn-primary"
            id="next-button">Next</button>
    </form>

</div>
<!--<script src="{{ url_for('static', filename='play.js') }}"></script>-->
{% endblock %}