{% extends "layout.html" %}

{% block title %}
Play
{% endblock %}

{% block main %}
<h1 class="text-danger">Test Yourself</h1>
<div id="card-holder">
    <form method="post">
        <a name="Flip" type="submit" class="btn btn-primary" id="flip-button"
            onclick="document.getElementById('card-attributes').style.display = 'block'">Flip</a>
        <a href="{{ url_for('play', card_index=card_index+1) }}" type="submit"
            role="button" id="next-button" class="btn btn-primary"
            onclick="document.getElementById('card-attributes').style.display = 'none'">Next</a>

    </form>
    <div class="card-display">
        <img id="card-image"
            src="{{ url_for('static', filename='playing-cards/' + card_images[card_index]) }}">
    </div>
</div>
<p id="card-attributes" style="display: none">
    Person: {{ current_card[0]['person'] }}<br>
    Action: {{ current_card[0]['action'] }}<br>
    Object: {{ current_card[0]['obj'] }}
</p>
<p>Where is my list?</p>
<!--<script src="{{ url_for('static', filename='play.js') }}"></script>-->
{% endblock %}